@import url(./base.css);

body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.nav__header {
    background-color: var(--fundo-card);
    display: flex;
    justify-content: left;
    padding-left: 10em;
    width: 100%;
}

.nav__div-input {
    /* padding: 0.5em 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__icone-linkedin {
    padding: 0.6em 0.6em 0.6em 0em;
    /* padding-right: 0.5em; */
}

.nav__input {
    padding: 0.7em 7em 0.7em 0em;
    border-radius: 4px;
    margin-bottom: 0.4em;
    background-color: var(--input);
    color: #fff;
    /* width: 20vw; */
    border: none;
    text-align: center;
    font-size: 14px;
}

.nav__input::placeholder {
    color: #fff;
    background: url('../img/lupa.svg') no-repeat;
    background-size: 15px;
    background-position: 1em;
}

.nav__div-icone {
    display: flex;
    margin-left: 9em;
    justify-content: center;
}

.nav__icones {
    display: flex;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 1.7em;
}

.nav__icones {
    white-space: nowrap;
}

#linha-vertical {
    border-right: 1px solid var(--texto-secundario);
    padding-left: 1em;
}

.icone__last {
    padding-left: 1em;
}

.centralizando {
    display: flex;
    justify-content: left;
    margin-left: 11.5%;
    margin-top: 1em;

}

.conteudo {
    background-color: var(--fundo-card);
    border-radius: 16px;
}

.conteudo__principal {
    position: relative;
    width: 800px;
    height: 420px;
}

.conteudo__capa {
    background: url('../img/capa.png') no-repeat;
    background-size: cover;
    width: 800px;
    height: 200px;
    border-radius: 16px;
}

.foto__perfil {
    position: absolute;
    width: 160px;
    border-radius: 50%;
    left: 30px;
    top: 23%;
    border: 4px solid #1B2226;
}

.conteudo__bloco {
    display: flex;
}

.conteudo__informacoes {
    margin-top: 4em;
    padding-left: 1.2em;
}

.conteudo__subtitulo {
    font-size: 16px;
}

.conteudo__texto {
    color: var(--texto-secundario);
    font-size: 14px;
}

.conteudo__texto-azul {
    color: var(--primario);
}

.conteudo__botao {
    padding-top: 0.3em;
}


.conteudo__empresas {
    width: 40%;
    display: flex;
    justify-content: center;
}

.conteudo__empresa-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 6em;
}

.div__central {
    display: flex;
    padding: 0.5em;
    flex-direction: row;
    align-items: center;
}

.empresa__imagem {
    width: 20%;
    padding-right: 0.5em;
}

/* ACABOU BLOCO 1*/

.conteudo__pessoas {
    margin-left: 1.7em;
    position: absolute;
    width: 25%;
    height: 110%;
    left: 70vw;
}

.pessoas__titulo {
    font-size: 16px;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.pessoas__bloco {
    display: flex;
    padding: 0.5em;
    margin-bottom: 1em;
}

.pessoa__perfil {
    width: 20%;
    height: 20%;
    padding: 0 0.5em;
}

.pessoas__titulo-nome {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.conteudo__texto-font {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
}

.botao__pessoas {
    font-family: 'Inter', sans-serif;
    background: var(--transparent);
    border: 1px solid var(--texto-primario);
    color: var(--texto-primario);
    width: 70%;
}

.conteudo__pessoas-copy {
    position: absolute;
    top: 57vw
}

/* ACABAMOS BLOCO DA DIREITA */

.conteudo__secundario {
    position: absolute;
    width: 800px;
    height: 315px;
    top: 37vw;
    left: 11.5vw;
}

.secundario__blocos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secundario__titulo {
    padding: 1em;
}

.secundario__items {
    border: 1px solid var(--texto-primario);
    border-radius: 8px;
    width: 30%;
    padding-top: 0.5em;
}

.secundario__legenda {
    font-size: 12px;
    color: var(--texto-secundario);
    padding: 0 1em;

}

.secundario__texto {
    font-size: 14px;
    padding: 0.5em 1em;
}

.secundario__blog {
    width: 100%;
}

.secundario__reacoes {
    display: flex;
    justify-content: space-between;
}

.complete {
    display: flex;
    margin-bottom: 0.2em;
}

.secundario__reacoes-icones {
    padding-left: 0.2em;
}

.likes {
    position: relative;
    right: 8px;
}

/* INICIANDO BLOCO3 MEIO */

.conteudo__terceiro {
    width: 800px;
    height: 455px;
    position: absolute;
    top: 61vw
}

.texto__terceiro {
    padding-left: 1em;
}
.terceiro__blocos {
    padding-left: 1em;
}
.terceiro__legenda {
    padding: 1em 0;
}
.terceiro__items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.terceiro__texto {
    font-size: 14px;
    padding-left: 1em;
}
.terceiro__imagem {
    width: 30%;
}
.terceiro__reacoes {
    padding: 0.5em 0;
}
#linha-horizontal {
    width: 100%;
    border: 1px solid var(--texto-secundario);
} 
.terceiro__final {
    padding: 1em 0;
    font-size: 14px;
    color: vaR(--texto-secundario);
    text-align: center;
}
/* BLOCO 4 INICIANDO*/


.conteudo__quarto {
    width: 800px;
    height: 135px;
    position: absolute;
    top: 95vw
}

/* BLOCO 5 INICIADO */

.conteudo__quinto {
    width: 800px;
    height: 405px;
    position: absolute;
    top: 105.5vw
}
.conteudo__empresa-experiencia {
    padding: 0 1em;
}

.imagem__experiencia{
    width: 10%;
}
.experiencias {
display: flex;
align-items: center;
}
.icone__eclipse {
    font-size:30px;
    padding-left: 1.5em;
    margin-right: 1.5em;
}
/* .linha-vertical {
    height: 200px;
    border-right: 1px solid red;

} */
.experiencia__bloco2 {
    border-left: 1px solid var(--texto-secundario);
    margin-left: 3.4em;
    padding-left: 3.2em;
    margin-top: -0.5em;
}

.experiencia__texto {
    font-size: 14px;
    padding-top: -1em;
}

/* BLOCO 6 INICIADO */

.conteudo__sexto {
    width: 800px;
    height: 155px;
    position: absolute;
    top: 136vw
}

.imagem__academia{
    width: 10%;
}
/* BLOCO 7 INICIADO */

.conteudo__setimo {
    width: 800px;
    height: 155px;
    position: absolute;
    top: 148vw
}
.texto__setimo {
    padding-bottom: 0.2em;
}
.setimo__div {
    padding: 0 1em 1em 1em;
}
.setimo__texto {
    padding-bottom: 1emm;
}